<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://www.alura.com.br/artigos/assets/como-comecar-com-angular/como-comecar-com-angular.png"
    alt=""
    height="200px"

    srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu uma nova versão do Angular</a></h1>
    </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis posuere urna, eu posuere ligula lacinia sit amet. Cras tempor, erat et lacinia hendrerit, ipsum purus ultricies erat, eget ornare enim ante nec ligula. Suspendisse molestie ligula elit, a semper arcu tempus ut.</p>
  </div>
</div>
